{:paths ["src/clj"]
 :aliases
 {:test {:extra-paths ["test/clj"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.0"}
                      lambdaisland/kaocha {:mvn/version "1.85.1342"}}
         :exec-fn kaocha.runner/exec-fn}}}
